﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/admin/Views/Shared/_layout.cshtml";
}
@model IEnumerable<MG_Model.EF.MenuManager>
<div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-head-line">Quản lý danh sách hệ thống Menu của trang Admin</h1>
                    </div>
                </div>

<button type="button" onclick="/" class="btn btn-primary"> <i class="ace-icon fa fa-search-plus bigger-130"></i>Thêm Cate Menu</button>
<div class="alert alert-info">
                            Trang Admin!!
                          <br />
                            Website of Bella Mode
                        </div>
                <div class="panel panel-default">
                        <div class="panel-heading">
                           <h5>Thông tin Hệ thống Menu trang Admin</h5>
                        </div>
                        <div class="panel-body">
<table id="dynamic-table" class="table table-striped table-bordered table-hover">
												<thead>
													<tr>
														<th class="center">
															<label class="pos-rel">
																<input type="checkbox" class="ace" />
																<span class="lbl"></span>
															</label>
														</th>
														<th>#</th>
														<th>Name</th>
                                                        <th>Target</th>
                                                        <th>Link</th>
                                                        <th>Submenu</th>
                                                        <th>Position</th>
                                                        <th>CategoryMenu</th>
                                                        <th>Icon</th>
                                                        <th>Description</th>
														<th class="hidden-480">Status</th>
														<th></th>
													</tr>
												</thead>

												<tbody>
                                                    @foreach (var i in Model)
                                                    { 
                                                        <tr>
														    <td class="center">
															    <label class="pos-rel">
																    <input type="checkbox" class="ace" />
																    <span class="lbl"></span>
															    </label>
														    </td>
                                                             <td>
															    <p class="text-center">@i.id</p>
														    </td>
                                                            <td>
															    <p class="text-center">@i.name</p>
														    </td>
                                                            <td>
															    <p class="text-center">@i.target</p>
														    </td>
                                                            <td>
															    <p class="text-center">@i.link</p>
														    </td>
                                                            <td>
															    <p class="text-center">@i.Submenu</p>
														    </td>
                                                            <td>
															    <p class="text-center">@i.Possition</p>
														    </td>
                                                            <td>
															    <p class="text-center">@i.CategoryMenu</p>
														    </td>
                                                            <td>
															    <p class="text-center"><i class="@i.ItemIcon"></i></p>
														    </td>
                                                            <td>
															    <textarea class="text-center">@i.Description</textarea>
														    </td>
                                                            <td>
															    <p class="text-center">@(i.Status!=null?"Actived":"Disabled")</p>
														    </td>
                                                            														<td>
															<div class="hidden-sm hidden-xs action-buttons">
																<a class="green" href="#">
																	<i class="ace-icon fa fa-pencil bigger-130"></i>
																</a>

																<a class="red" href="#">
																	<i class="ace-icon fa fa-trash-o bigger-130"></i>
																</a>
															</div>
														</td>
													</tr>
                                                    }
												</tbody>
											</table>
                            </div>
                    </div>
    </div>

