﻿@model IList< MG_Model.EF.MenuManager>


										    <h2>Chính Sách</h2>
										    <b>"ĐẢM BẢO HÀI LÒNG"</b>
<b>Chất lượng</b>
Bella Mode cam kết chất lượng cho tất cả sản phẩm bán tại cửa hàng Bella Mode bằng chính sách bảo hành 365 ngày và chăm sóc trọn đời sau khi hết bảo hành.</br>

<b>Phục vụ</b>
Bella Mode cam kết chất lượng phục vụ tốt nhất, chuyên nghiệp nhất cho mọi khách hàng bằng chính sách hoàn tiền và tặng quà nếu nhân viên phục vụ quí khách không chu đáo.</br>

<b>Hỗ trợ</b>
Nếu bạn gặp rắc rối về sản phẩm hay chất lượng dịch vụ của Bella Mode, hãy gọi ngay đến số 1900157 hoặc inbox ở www.bellamode.vn</br>