﻿@model IList< MG_Model.EF.MenuManager>

                                                <h2>Chi nhánh</h2>
										    <ul class="nav nav-pills nav-stacked">

                                                @foreach (var i in Model)
                                                { 
                                                    <li><a href="@i.link">@i.name</a></li>
                                                }
										    </ul>