﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/admin/Views/Shared/_layout.cshtml";
}
@model IEnumerable<MG_Model.EF.Feedback>
<div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-head-line">Quản lý Danh Sách Feedback</h1>
                    </div>
                </div>
<div class="alert alert-info">
                            Trang Admin!!
                          <br />
                            Website Bella Mode
                        </div>
                <div class="panel panel-default">
                        <div class="panel-heading">
                           <h5>Thông tin danh mục các feedback</h5>
                        </div>
                        <div class="panel-body">
<table id="dynamic-table" class="table table-striped table-bordered table-hover">
												<thead>
													<tr>
														<th class="center">
															<label class="pos-rel">
																<input type="checkbox" class="ace" />
																<span class="lbl"></span>
															</label>
														</th>
														<th>#</th>
														<th>Email</th>
                                                        <th>Tittle</th>
                                                        <th>Content</th>
														<th class="hidden-480">Status</th>
														<th></th>
													</tr>
												</thead>

												<tbody>
                                                    @foreach (var i in Model)
                                                    { 
                                                        <tr>
														    <td class="center">
															    <label class="pos-rel">
																    <input type="checkbox" class="ace" />
																    <span class="lbl"></span>
															    </label>
														    </td>
                                                             <td>
															    <p class="text-center">@i.id</p>
														    </td>
                                                            <td>
															    <p class="text-center">@i.email</p>
														    </td>
                                                            <td>
															    <p class="text-center">@i.title</p>
														    </td>
                                                            <td>
															    <textarea cols="60" rows="4">@i.content</textarea>
														    </td>
                                                            
                                                            <td>
															    <p class="text-center">@i.Status</p>
														    </td>
                                                            														<td>
															<div class="hidden-sm hidden-xs action-buttons">
																<a class="green" href="#">
																	<i class="ace-icon fa fa-pencil bigger-130"></i>
																</a>

																<a class="red" href="#">
																	<i class="ace-icon fa fa-trash-o bigger-130"></i>
																</a>
															</div>
														</td>
													</tr>
                                                    }
												</tbody>
											</table>
                            </div>
                    </div>
    </div>